<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="../../Scripts/angular-cookies.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <script src="../../Scripts/moment.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../Scripts/customerApp.js"></script>
    <script src="../Scripts/customerController.js"></script>
    <script src="../Scripts/detailsController.js"></script>
    <script src="../Scripts/createEditController.js"></script>
    <script src="../Scripts/customerService.js"></script>
    <script src="../Scripts/loginController.js"></script>
    <script src="../Scripts/authenticationService.js"></script>
</head>
<body ng-app="customerApp">
    <h2>Customer</h2>
    <div ng-view></div>
</body>
</html>

